/* navbar */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Terapkan animasi pada kelas yang diinginkan */
.iconnavbar {
    animation: fadeInLeft 2s ease;
}
/* navbar end */
/* carousel */
.carousel{
    background-image: url(./Aset/carousel1.jpg);
}
/* carousel end */
/* jumbotron */
.jumbotron{
    padding-top: 1rem;
    background-color: #97979780;
}

/* jumbotron end */
#Project{
    background-color: #97979780;
}
section{
    padding-top:5rem;
}
/* profil style */
.foto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    z-index: 2;
}

.outline {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #7899df;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgb(0, 174, 255); /* Tambahkan efek bayangan dengan variasi */
    animation: flash 6s linear infinite;
    z-index: 3;
}

@keyframes flash {
    0%, 50%, 100% {
        border-color: #6a00ff00; /* Warna outline pada titik awal, pertengahan, dan akhir */
        box-shadow: 0 0 10px rgb(208, 0, 255); /* Efek bayangan pada titik awal, pertengahan, dan akhir */
    }
    25%, 75% {
        border-color: #ff6a6a00; /* Warna outline pada titik tengah animasi */
        box-shadow: 0 0 20px rgb(162, 0, 255); /* Efek bayangan pada titik tengah animasi */
    }
}
/* profil style end */
/* nama */
span {
    overflow: hidden;
    white-space: nowrap;

}

span:nth-child(1):before {
    content: '';
    animation: gerak 10s ease infinite;
    animation-delay: 0s; /* Delay untuk Frontend Developer */
    transform: translateY(-50%);
    color: rgb(129, 129, 129);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
}

span:nth-child(2):before {
    content: '';
    animation: gerak 10s ease infinite;
    animation-delay: 5s; /* Delay untuk High School Student */
    transform: translateY(-50%);
    color: rgb(129, 129, 129);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
}

span:nth-child(3):before {
    content: '';
    animation: gerak 10s ease infinite;
    animation-delay: 10s; /* Delay untuk UI Developer */
    transform: translateY(-50%);
    color: rgb(129, 129, 129);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
}

@keyframes gerak {
    0% {
        content: 'Frontend Developer';
    }
    50% {
        content: 'High School Student';
    }
    100% {
        content: 'UI Developer';
    }
}

/* nama end */
/* sosmed */
        /* Tambahkan animasi fadeInDown */
        @keyframes fadeInDown {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* Terapkan animasi pada kelas yang diinginkan */
        .sosmed {
            animation: fadeInDown 4s ease;
        }
/* sosmed end */
/* project */
.card {
    position: relative;
}
.card-text{
    margin-left: 20px;
    margin-right: 20px;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Efek gelap */
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .dark-overlay {
    opacity: 1;
}

.card-pop {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.openlogo{
    height: 20px;
    width: 20px;
    justify-content: center;
}

.card:hover .card-pop {
    opacity: 1;
}

.popup-link {
    display: block;
    text-align: center;
    background: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50%;
}

/* project end */